<div class="user">
  <div *ngIf="buttonClicked === '' && !isLogged" class="user__buttons">
    <button #loginbtn (click)="openForm(loginbtn)" class="user__buttons--login">
      Iniciar sesión
    </button>
    <button
      #signupbtn
      (click)="openForm(signupbtn)"
      class="user__buttons--signup"
    >
      Registrarse
    </button>
  </div>
  <div *ngIf="buttonClicked === 'Registrarse'" class="user__form">
    <i class="fa-solid fa-arrow-left-long arrow" (click)="back()"></i>
    <form
      *ngIf="signupForm"
      class="user__form--form"
      [formGroup]="signupForm"
      (submit)="signup()"
    >
      <label>Nombre de usuario</label>
      <input
        type="text"
        placeholder="nombre de usuario"
        formControlName="username"
      />
      <p
        *ngIf="
          !signupForm.get('username')?.valid &&
          signupForm.get('username')?.dirty
        "
        class="input-error"
      >
        This value is required
      </p>
      <label>E-mail</label>
      <input
        type="text"
        placeholder="emailejemplo@email.com"
        formControlName="email"
      />
      <p
        *ngIf="
          !signupForm.get('email')?.valid && signupForm.get('email')?.dirty
        "
        class="input-error"
      >
        This value is required
      </p>
      <label>Constraseña</label>
      <input
        type="password"
        placeholder="1234Abcd"
        formControlName="password"
      />
      <p
        *ngIf="
          !signupForm.get('password')?.valid &&
          signupForm.get('password')?.dirty
        "
        class="input-error"
      >
        Minimum eight characters
      </p>
      <button type="submit" class="signupbtn" [disabled]="!signupForm.valid">
        Registrarse
      </button>
    </form>
  </div>
  <div *ngIf="buttonClicked === 'Iniciar sesión'" class="user__form">
    <i class="fa-solid fa-arrow-left-long arrow" (click)="back()"></i>
    <form
      *ngIf="loginForm"
      class="user__form--form"
      [formGroup]="loginForm"
      (submit)="login()"
    >
      <label>E-mail</label>
      <input
        type="text"
        placeholder="nombre de usuario"
        formControlName="email"
      />
      <p
        *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.dirty"
        class="input-error"
      >
        This value is required
      </p>
      <label>Constraseña</label>
      <input
        type="password"
        placeholder="1234Abcd"
        formControlName="password"
      />
      <p
        *ngIf="
          !loginForm.get('password')?.valid && loginForm.get('password')?.dirty
        "
        class="input-error"
      >
        Minimum eight characters
      </p>
      <button type="submit" class="loginbtn" [disabled]="!loginForm.valid">
        Iniciar sesión
      </button>
      <p *ngIf="error" class="error">{{ error }}</p>
    </form>
  </div>
  <div *ngIf="isLogged" class="user__buttons">
    <h1>Hola {{ username }}</h1>
    <button
      class="user__buttons--signup"
      [routerLink]="['user-account']"
      (click)="closeUserNav()"
    >
      Mi cuenta
    </button>
    <button class="user__buttons--login" (click)="logout()">
      Cerrar sesión
    </button>
  </div>
</div>
