<header class="header">
  <div class="header__logo" [routerLink]="['']" (click)="closeFilter()">
    <h1>SNEAKERS</h1>
  </div>
  <div class="header__list" *ngIf="isDesktop">
    <button
      (click)="setGenre('Woman')"
      [ngClass]="{
        'btn--active': query === 'genre=Woman'
      }"
      class="header__list--btn"
    >
      Mujer
    </button>
    <button
      (click)="setGenre('Man')"
      [ngClass]="{
        'btn--active': query === 'genre=Man'
      }"
      class="header__list--btn"
    >
      Hombre
    </button>
  </div>
  <div
    class="header__navbar"
    [ngClass]="{
      'navbar--active': navClicked
    }"
  >
    <i
      (click)="openCart()"
      [ngStyle]="{
        color: cartOpened ? 'rgb(226, 175, 79)' : 'white'
      }"
      class="fa-solid fa-cart-shopping header__navbar--cart"
    ></i>
    <div class="header__navbar--counter" *ngIf="cartProducts">
      <p *ngIf="cartProducts.length > 0">{{ cartProducts?.length }}</p>
    </div>
    <i
      (click)="openUserNav()"
      [ngStyle]="{
        color: userNavOpened ? 'rgb(226, 175, 79)' : 'white'
      }"
      class="fa-solid fa-user header__navbar--user"
    ></i>
    <app-nav-btn
      [navClicked]="navClicked"
      *ngIf="!isDesktop"
      (click)="btnClick()"
    ></app-nav-btn>
  </div>
</header>
<app-responsive-nav
  [navClicked]="navClicked"
  (genre)="setGenre($event)"
  (click)="btnClick()"
></app-responsive-nav>
<app-header-filter
  [genre]="genre"
  *ngIf="showFilter"
  (click)="closeFilter()"
></app-header-filter>
<app-aside-nav
  [cartOpened]="cartOpened"
  [isDesktop]="isDesktop"
  [cartProducts]="cartProducts"
  [userNavOpened]="userNavOpened"
  (userNavClosed)="userNavClosed($event)"
  (cartNavClosed)="cartNavClosed($event)"
></app-aside-nav>
