$breakpoint: 1200px;

@mixin desktop {
  @media (min-width: $breakpoint) {
    @content;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: black;
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.55);
  position: sticky;
  z-index: 10;

  @include desktop {
    padding: 1rem 4rem;
  }

  &__logo {
    color: white;
    cursor: pointer;

    &:hover {
      color: rgb(226, 175, 79);
      transition: all 0.3s ease;
    }
  }

  &__list {
    display: flex;
    gap: 2rem;

    li {
      height: 2.3rem;
      border-bottom: 1.3px solid transparent;
      color: white;
      cursor: pointer;

      a {
        color: inherit;
        font-size: 1.5rem;

        &:hover {
          color: rgb(226, 175, 79);
          transition: all 0.3s ease;
        }
      }

      &:hover {
        border-bottom: 1.3px solid rgb(226, 175, 79);
        transition: all 0.3s ease;
      }
    }
  }

  &__navbar {
    display: flex;
    align-items: center;
    gap: 2rem;

    &--active {
      margin-right: -2rem;
    }

    &--cart {
      font-size: 2rem;
      color: white;
      cursor: pointer;

      &:hover {
        color: rgb(226, 175, 79);
        transition: all 0.3s ease;
      }
    }
    &--user {
      font-size: 2rem;
      color: white;
      cursor: pointer;

      &:hover {
        color: rgb(226, 175, 79);
        transition: all 0.3s ease;
      }
    }
  }
}
