@import "/src/styles.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: black;
  position: sticky;
  width: 95%;
  z-index: 10;

  @include desktop {
    padding: 1rem 4rem;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.55);
  }

  &__logo {
    color: white;
    cursor: pointer;

    &:hover {
      color: rgb(226, 175, 79);
      transition: all 0.3s ease;
    }
  }

  &__list {
    display: flex;
    gap: 2rem;

    &--btn {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 1.5rem;
      border-bottom: 1.3px solid transparent;
      cursor: pointer;

      &:hover {
        color: rgb(226, 175, 79) !important;
        border-bottom: 1.3px solid rgb(226, 175, 79) !important;
        transition: all 0.3s ease;
      }
    }
  }

  &__navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;

    &--active {
      margin-right: -2rem;
    }

    &--cart {
      font-size: 2rem;
      color: white;
      cursor: pointer;

      &:hover {
        color: rgb(226, 175, 79);
        transition: all 0.3s ease;
      }
    }

    &--counter {
      position: absolute;
      left: 2rem;
      top: 1rem;
      width: 1rem;
      text-align: center;
      border-radius: 50%;
      font-weight: 600;
      background-color: rgb(226, 175, 79);
    }

    &--user {
      font-size: 2rem;
      color: white;
      cursor: pointer;

      &:hover {
        color: rgb(226, 175, 79);
        transition: all 0.3s ease;
      }
    }
  }
}

.btn--active {
  color: rgb(226, 175, 79);
  border-bottom: 1.3px solid rgb(226, 175, 79);
}

