<div class="arrow" [routerLink]="['/product-list', { genre: product?.genre }]">
  <i class="fa-solid fa-arrow-left-long arrow__icon"></i>
  <h2>Lista de productos</h2>
</div>
<div *ngIf="product" class="product">
  <div class="product__gallery">
    <div class="product__gallery--main">
      <img [src]="mainImg" />
    </div>
    <div class="product__gallery--secondary">
      <img
        *ngFor="let img of secondaryImg"
        [src]="img"
        (click)="swapMain(img)"
      />
    </div>
  </div>
  <div class="product__info">
    <div class="product__info--title">
      <h1>{{ product.title }}</h1>
    </div>
    <div class="product__info--extra">
      <h2>{{ product.brand }}</h2>
      <h2>{{ product.genre }}</h2>
      <h2>{{ product.price }} €</h2>
    </div>
    <h2>Tallas:</h2>
    <h3 *ngIf="sizeSelected === ''" class="size-filter">
      Selecciona una talla!
    </h3>
    <div class="product__info--size">
      <div
        *ngFor="let size of sizes"
        class="size"
        (click)="selectSize(size)"
        [ngClass]="{
          'size--active': sizeSelected === size
        }"
      >
        <h2 class="content">
          {{ size }}
        </h2>
      </div>
    </div>
    <div class="product__info--desc">
      <h3>Descripción:</h3>
      <p>{{ product.description }}</p>
    </div>
    <form
      class="product__info--button"
      *ngIf="quantForm"
      [formGroup]="quantForm"
      (submit)="addCart(product)"
    >
      <select title="quantity" class="select" formControlName="quantSelected">
        <option *ngFor="let unit of quantity">
          {{ unit }}
        </option>
      </select>
      <button type="submit" class="btn">Añadir a la cesta</button>
    </form>
    <div class="product__info--comments">
      <div class="commentary__header">
        <h2>Comentarios:</h2>
        <button *ngIf="userLogged" (click)="openForm()">
          {{ formOpened ? "cancelar" : "Añadir commentario" }}
        </button>
      </div>
      <form
        action="post"
        *ngIf="commentForm && formOpened"
        [formGroup]="commentForm"
        (submit)="addComentary()"
      >
        <label class="commentary__form">Tu comentario:</label>
        <textarea cols="30" rows="10" formControlName="content"></textarea>
        <button type="submit">Comentar</button>
      </form>
      <div class="commentary__container">
        <div *ngFor="let commentary of comments" class="commentary">
          <div class="commentary__user">
            <img [src]="commentary?.user[0].img" />
            <div class="commentary__user--info">
              <h2>{{ commentary?.user[0].username }}</h2>
              <h2 class="data">{{ commentary?.data.split("G")[0] }}</h2>
            </div>
          </div>
          <div class="commentary__content">
            <h2>
              {{ commentary?.content }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
