.product-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__empty {
    font-size: 1.4rem;
  }
}

.button__cart {
  width: 90%;
  height: 4rem;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 0.6rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(41, 41, 41);
  }
}
