<div class="product-cart" *ngIf="productsCart">
  <h1 class="product-cart__empty" *ngIf="productsCart.length < 1">
    Carrito de la compra vacio!
  </h1>
  <app-product-cart
    *ngFor="let product of productsCart"
    [product]="product"
    (clickRemove)="clickRemove()"
  ></app-product-cart>
  <div *ngIf="productsCart.length > 0">
    <h2>Precio total: {{ totalPrice }} €</h2>
  </div>
  <button
    *ngIf="productsCart.length > 0 && userLogged"
    [routerLink]="['/buy-product']"
    class="button__cart"
    (click)="closeProductCart()"
  >
    Ver bolsa
  </button>
  <button *ngIf="productsCart.length > 0 && !userLogged" class="button__cart" (click)="openForm()">
    Iniciar sesión
  </button>
</div>
