.header__navbar--btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;

  .top {
    content: "";
    width: 3.5rem;
    height: 0.3rem;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-out;

    &--active {
      transform: rotate(45deg) translateY(0.9rem) translateX(0.1rem);
      width: 3rem;
    }
  }

  .down {
    content: "";
    width: 2.3rem;
    height: 0.3rem;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-out;

    &--active {
      transform: rotate(-45deg) translateY(-0.75rem);
      width: 3rem;
    }
  }
}
