.header__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid black;

  button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      color: rgb(215, 154, 42);
    }
  }
}
