@import "/src/styles.scss";

.bag {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  padding: 3rem;

  @include desktop {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid rgb(192, 192, 192);

    @include desktop {
      width: 40vw;
    }

    h2 {
      align-self: flex-start;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid rgb(192, 192, 192);

    @include desktop {
      width: 40vw;
    }

    button {
      background-color: black;
      color: white;
      width: 90%;
      align-self: center;
      height: 4rem;
      border-radius: 2rem;
      border: none;
      cursor: pointer;
    }
  }
}
